<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>About - Masterminds</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/images/favicon.png" rel="icon">
  <link href="assets/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  <style>
    .medal-step {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 100px;
    }
    .tile {
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 24px;
      border-radius: 8px;
    }
    .tile-1 {
      background-color: gold;
    }
    .tile-2 {
      background-color: silver;
    }
    .tile-3 {
      background-color: bronze;
    }
    .medal-step-container {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 200px;
    }
    .medal-step .tile {
      margin: 0 10px;
    }
    @media (max-width: 767px) {
      .medal-step {
        flex-direction: column;
        align-items: center;
        height: auto;
      }
      .medal-step .tile {
        margin: 10px 0;
      }
    }
    .vh-100 {
    height: 100vh;
}

.full-width-service {
    width: 100%;
    /* Optional: if you want the service item to take the full height of the screen */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

  </style>

</head>

<body class="index-page" style="background-color: rgba(241, 229, 229, 0.865);">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
      

      <a href="/" class="logo d-flex align-items-center me-auto me-lg-0">
        
        <img src="assets/images/mptclogonobg.png" alt="">
        <!-- <h1 class="sitename"></h1>
        <p><br></p>
        <span> العقل المدبر كيا <b> MASTERMINDS</b> </span><br> -->
        
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/">Home<br></a></li>
          <li><a href="aboutus" class="active">About</a></li>
                 
          <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="jobs"> Recruitment</a></li>
              <!-- <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li> -->
              <li><a href="#">Visa Application</a></li>
              <li><a href="#">Travel Consultancy</a></li>
              <li><a href="#">HR Consultancy</a></li>
              <li><a href="#">Tours and holiday</a></li>
            </ul>
          </li>
          <li><a href="contact">Contact</a></li>
          <li><a href="jobs">Portfolio</a></li>
          <!-- <li><a href="#team">Team</a></li> -->
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="jobs">Get Started</a>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    

      <section id="hero" class="hero section">

        <img src="assets/images/plane 1.jpg" alt="" data-aos="fade-in">
  
        <div class="container" style="margin-top: 0px;">
  
          <!-- <div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
            <div class="col-xl-6 col-lg-8">
              <h2>About</h2>
              <h2>MASTERMINDS</h2>
              <p>Connecting Skill With Opportunity Globally</p>
            </div>
          </div> -->
  
          <div class="row gy-4 mt-5 justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="300" style="width: fit-content; min-height: 200px; max-width: 300px;">
              <div class="icon-box" style="border: 0px; margin-top: auto;">
                <h2>ABOUT</h2>
                <h3 style="color: #205da5;font-size: 27px;">MASTERMINDS</h3>
              </div>
            </div>
            <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="400" style="width: fit-content; min-height: 300px;min-width: 200px; max-width: 400px;">
              <div class="icon-box">
                <!-- <i class="bi bi-card-list"></i> -->
                <h3><a href="">Mission</a></h3>
                <p style="font-size: 14px;">Help businesses grow by matching the right talent to their specialized
                  staffing and consulting needs, and build rewarding careers for the
                  professionals we place Adhere to a philosophy of “Ethics First” in
                  everything we do Create a work environment where employees can
                  thrive and innovate Be a socially responsible corporate citizen and an
                  active participant in the communities in which we live and work</p>
              </div>
            </div>
            <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="500" style="width: fit-content; min-height: 300px; min-width: 200px; max-width: 400px;">
              <div class="icon-box">
                <!-- <i class="bi bi-airplane-engines-fill"></i> -->
                <h3><a href="">Vision</a></h3>
                <p style="font-size: 14px;">To be the best and most effective recruitment agency in East Africa that
                  prioritizes on client's programme and deadline. This is attainable
                  through focusing on building long-term relations with clients based on
                  high standards, commitment to meet deadline of manpower supply
                  and strong client focus</p>
              </div>
            </div>
         
            <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="100" style="width: fit-content; min-height: 300px;min-width: 200px;">
              <div class="icon-box">
                <!-- <i class="bi bi-phone"></i> -->
                <h3><a href="aboutus">What We Do</a></h3>
                <p style="font-size: 20px;">MASTERMINDS Placement & Travel Consultancy Limited (MPTC)
                  was founded with the vision of catering to the recruitment needs of
                  various Private & Government organizations in the Middle East, Europe,
                  Canada, US & Australia.
                  We not only offer recruitment solutions but also put forward exible
                  plans for you. MPTC’s exible approach means you choose the required
                  recruitment and HR services you need & the time of realization. We
                  portray on a range of skills, leading-edge tools and recognized
                  assessment techniques that are customized to meet your needs, to
                  make certain that it always validates your recruitment decision. We
                  work to your agenda and deadlines.</p>
              </div>
            </div>
          </div>
  
        </div>
  
      </section>
      
      

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section" style="border: 1px solid #00a5aa; padding: 10px;">

      <div class="container" data-aos="fade-up" data-aos-delay="100" >

        <div class="row gy-4" >
          <div class="col-lg-6 order-1 order-lg-2" style="border: 30px solid #00a5aa; padding: 10px;background-color: #f2f2f2;">
            <!-- <img src="assets/images/plane 1.jpg" class="img-fluid" alt="" style="height: 100%;"> -->
            <h3 style="font-size: 30px;">How We Do It</h3>
            <p class="fst-italic" style="font-size: 15px; font-weight: bold;">
              The best way to reduce the costly employee turnover is
              to have a recruitment partner and program, which
              ensures that new people t your business and that what
              the business has to offer ts the people recruited. As it
              requires special insight, skill and experience to hook the
              best resources, it pays to use experts who will get you
              the right people for the right job.
            </p>
             
          </div>
          <div class="col-lg-6 order-2 order-lg-1 content" style="border: 30px solid #00a5aa; padding: 10px;background-color: #f2f2f2;">
            <h3 style="font-size: 30px;">How Can We Help?</h3>
            <p class="fst-italic" style="font-size: 15px;">
              We can help you attract, develop and retain quality staff across all
              specializations from accounting, nancial services, human resources, legal
              and office support, sales & marketing, technical & operations and IT. Our
              specialist recruitment consultants have real-world experience in their area
              of expertise and offer the benets of in-depth industry knowledge and
              professional networks. 
              
            </p>
            <!--<ul style="font-size: 15px;">
              <b><li><i class="bi bi-pin-fill"></i> <span>Comprehensive solutions for employers</span></li>
              <li><i class="bi bi-pin-fill"></i> <span>Adequate employment for jobseekers</span></li>
              <li><i class="bi bi-pin-fill"></i> <span>Excellent communications for both</span></li>
              <li><i class="bi bi-pin-fill"></i> <span>Good services and timely feedback</span></li></b>
            </ul>
            <p> -->
             
            </p>
          </div>
        </div>
        <div class="row gy-4" >
          <div class="col-lg-6 order-1 order-lg-2" style="border: 30px solid #00a5aa; padding: 10px;background-color: #f2f2f2;">
            <!-- <img src="assets/images/plane 1.jpg" class="img-fluid" alt="" style="height: 100%;"> -->
            <h3 style="font-size: 30px;">Facts</h3>
            <p class="fst-italic" style="font-size: 15px;font-weight: bold;">
              The reality today is that companies need to take a long
              and hard look at their recruitment principles, processes
              and partners. We at MPTC have a wealth of industry
              experience making us very knowledgeable and able to
              advice our clients with specialist information to help
              them achieve a documented, systematic hiring process
              that ensures you hire the best possible staff and to make
              certain that you have all the necessary information and
              components in place to attract, retain and develop a
              superior, high performance workforce.
            </p>
             
          </div>
          <div class="col-lg-6 order-2 order-lg-1 content" style="border: 30px solid #00a5aa; padding: 10px;background-color: #f2f2f2;">
            <h3 style="font-size: 30px;">Quality</h3>
            <p class="fst-italic" style="font-size: 15px;">
              Our screening and shortlisting processes are focused on
              retaining the very best candidates for our clients by
              offering skill workshops and tests to hone their skills.
              Our employer feedback program help us keep tabs on
              our candidates' performance and take into
              consideration their observations for future recruitment
              drives.
            </p>
            <!--<ul style="font-size: 15px;">
              <b><li><i class="bi bi-pin-fill"></i> <span>Comprehensive solutions for employers</span></li>
              <li><i class="bi bi-pin-fill"></i> <span>Adequate employment for jobseekers</span></li>
              <li><i class="bi bi-pin-fill"></i> <span>Excellent communications for both</span></li>
              <li><i class="bi bi-pin-fill"></i> <span>Good services and timely feedback</span></li></b>
            </ul>
            <p> -->
             
            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

     <!-- Features Section -->
     <section id="features" class="features section" style="padding: 0px;">

      <div class="container" >

        <div class="row gy-4" style="border: 0px solid #00a5aa; padding: 0px; background-image: url('assets/images/website pix_Pae_4.jpg');">
          <div class="col-lg-6" style="color: white;border:2px solid #00a5aa;">

            <div class="features-item d-flex ps-0 ps-lg-3 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="100" >
              <div class="icon">
                <i class="bi bi-cash-stack"></i>
              </div>
              <div>
                <h4>Recruitment</h4>
                <p>Connecting top talent with leading companies for mutual growth and success.</p>
              </div>
            </div><!-- End Features Item-->

            <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="150">
              <div class="icon">
                <i class="bi bi-airplane-fill"></i>
              </div>
              <div>
                <h4>Travel Consultancy</h4>
                <p>Expert advice and personalized travel planning for unforgettable journeys.</p>
              </div>
            </div><!-- End Features Item-->

            <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="200">
               <div class="icon">
                <i class="bi bi-person-workspace"></i>
              </div>        

              <div>
                <h4>HR Consultancy</h4>
                <p>Tailored HR solutions to optimize workforce efficiency and drive organizational excellence.</p>
              </div>
            </div><!-- End Features Item-->

            <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="250">
              <div class="icon">
                <i class="bi bi-person-vcard-fill"></i>
              </div>
              <div>
                <h4>Visa Application</h4>
                <p>Hassle-free visa application assistance for seamless international travel.</p>
              </div>
            </div><!-- End Features Item-->

            <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="300">
              <div class="icon">
                <i class="bi bi-globe-europe-africa"></i>
                
              </div>
              <div>
                <h4>Tours & Holiday</h4>
                <p>Curated tours and holiday packages for unique and memorable travel experiences.</p>
              </div>
            </div><!-- End Features Item-->


          </div>
          <!-- <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="50"><img src="assets/images/recruitment 1.png" alt="" ></div> -->
          <div class="col-lg-6" style="color: white;border:2px solid #205da5;">

            <div class="features-item d-flex ps-0 ps-lg-3 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="100" >
              <i class="flex-shrink-0"><img src="assets/images/11.1.png" alt="Icon description" style="width:50px; height: 50px;">
              </i>
              <div>
                <h4>Integrity</h4>
                <p>We demonstrate complete integrity,
                  upholding honesty and strong moral
                  principles.</p>
              </div>
            </div><!-- End Features Item-->

            <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="150">
              <i class="flex-shrink-0"><img src="assets/images/12.png" alt="Icon description" style="width:50px; height: 50px;">
              </i>
              <div>
                <h4>Passion</h4>
                <p>We are passionate about recruitment,
                  showing enthusiasm, energy and an
                  understanding of our clients and
                  candidates need.</p>
              </div>
            </div><!-- End Features Item-->

            <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="200">
              <i class="flex-shrink-0"><img src="assets/images/13.png" alt="Icon description" style="width:50px; height: 50px;">
              </i>        

              <div>
                <h4>Exellence</h4>
                <p>We will always deliver what we
                  promise, while working to the
                  highest quality standard</p>
              </div>
            </div><!-- End Features Item-->

            <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="250">
              <i class="flex-shrink-0"><img src="assets/images/14.png" alt="Icon description" style="width:50px; height: 50px;">
              </i>
              <div>
                <h4>Respect</h4>
                <p>We treat our clients, candidates and
                  each other with mutual respect
                  and sensitivity, embracing individual
                  diversity.</p>
              </div>
            </div><!-- End Features Item-->

            <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="300">
              <i class="flex-shrink-0"><img src="assets/images/15.png" alt="Icon description" style="width:50px; height: 50px;">
              </i>
              <div>
                <h4>Accountability</h4>
                <p>We accept responsibility for our
                  actions. We use experience and good
                  judgement to support the business.</p>
              </div>
            </div><!-- End Features Item-->


          </div>
        </div>

      </div>

    </section><!-- /Features Section -->

    <!-- Clients Section -->
     <!-- Call To Action Section -->
     <section id="call-to-action" class="call-to-action section">
      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="60">
          <div class="col-xl-10">
            <h3>Our Affiliation</h3>
            <p></p>
          </div>
        </div>
      </div>
    </section><!-- /Call To Action Section -->
    <section id="clients" class="clients section" style="padding: 10px;">

      <div class="container" data-aos="fade-up" data-aos-delay="60">

        <div class="swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 2,
                  "spaceBetween": 40
                },
                "480": {
                  "slidesPerView": 3,
                  "spaceBetween": 60
                },
                "640": {
                  "slidesPerView": 4,
                  "spaceBetween": 80
                },
                "992": {
                  "slidesPerView": 6,
                  "spaceBetween": 120
                }
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="assets/images/partner 1.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 2.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 3.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 4.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 5.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 6.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 7.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 8.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 9.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 10.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 11.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 12.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 13.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 14.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 15.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 16.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 17.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 18.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 19.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 20.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 21.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 22.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 23.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 24.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 25.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 26.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 27.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 28.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 29.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 30.png" class="img-fluid" alt=""></div>
            
            
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Clients Section -->
    <section id="clients" class="clients section" style="padding: 10px;">

      <div class="container" data-aos="fade-up" data-aos-delay="60">

        <div class="swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 2,
                  "spaceBetween": 40
                },
                "480": {
                  "slidesPerView": 3,
                  "spaceBetween": 60
                },
                "640": {
                  "slidesPerView": 4,
                  "spaceBetween": 80
                },
                "992": {
                  "slidesPerView": 6,
                  "spaceBetween": 120
                }
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="assets/images/c1.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/c2.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/c3.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/c4.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/c5.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/c6.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/c7.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/c8.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/c9.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/c10.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/c11.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/c12.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/c13.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/c14.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/c15.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/c16.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/c17.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/c18.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/c19.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/c20.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/c21.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/c22.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/c23.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/c24.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/c25.png" class="img-fluid" alt=""></div>
                     
            
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Clients Section -->
    <section id="call-to-action" class="call-to-action section">
      

      

      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="60">
          <div class="col-xl-10" style="height: 6px;">
            
            
          </div>
        </div>
      </div>

    </section><!-- /Call To Action Section -->

   

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up" style="padding: 10px;">
        <h2>Services</h2>
        
        <p>The Recruitment Process</p>
        <span></span>
      </div><!-- End Section Title -->

      <div class="container">
        <h2 style="font-size: 14px;">
          Our services are designed to ensure that each step of
          the recruitment chain is carefully coordinated and
          managed. Our Staff is professionally equipped,
          committed and dedicated to ensure that the process
          meets our client's requirements.</h2>
          

          
          <h3>First To Our Clients</h3>
          <p style="font-size: 14px;border-bottom:1px #205da5;">We are committed to your success. With
            commitment, creativity and courage, we are
            dedicated to deliver positive results in your
            organization, which means you will get the
            optimum solutions to all your requirements
            challenges. Everyone at MPTC is passionate about
            helping you successfully navigate, manage and
            develop everything related to the people side of
            your business.</p>
        

        <div class="row gy-4">
          
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="60">
            <div class="service-item position-relative" style="background-image: url('assets/images/travelconsultancy 1.png');">
             
              <a href="service-details.html" class="stretched-link">
                <h3>SOURCING & ADVERTISING</h3>
              </a>
              <p>Once We receive an offer and the our clients
                requirement, we apply with the department of
                labor of the candidates country for authorization.
                Once the DOL grants the approval and are satised
                with the credibility of the demand letter and
                attesting that the terms and conditions offered are
                in line with the government rules and regulations,
                our search begins. Our Searches are based on our
                database and advertising campaigns in the leading
                Broadcast and print Media.
                </p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative" style="background-image: url('assets/images/recruitment 1.png');">
              
              <a href="jobs" class="stretched-link">
                <h3>SELECTION</h3>
              </a>
              <p>We plan and conduct search and select for the mass
                recruitments projects aimed in medium and
                technical personnel. Through the search we obtain
                candidates with high, professional qualications and
                experience in a particular industry. Knowledge of our
                consultants and high standards of ethical business
                practice carried out under the search are capable of
                delivering high efficacy in the recruit- ment of a wide
                range of professions.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative" style="background-image: url('assets/images/assessment 1.png');">
              
              
                <h3>ASSESSMENT CENTER</h3>
             
              <p>Masterminds leads candidates through practical
                exercise, which are directly related to the duties and
                responsibilities that the employee would perform in
                the vacant position. This preparations allow a deeper
                assessment of the true practical knowledge of
                postulants, to examine areas of competence that are
                must haves for the effective implementation of the
                appropriate tasks. And which also identify areas for
                positive development. In addition the Assessment
                center gives candidates a chance to get closer insight
                into the specic job offer.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="150">
            <div class="service-item position-relative" style="background-image: url('assets/images/hrconsultancy 1.png');">
              
             
                <h3>SKILL TESTS</h3>
              
              <p>Depending on the requirement of the work place,
                Masterminds Conducts tests to assess the
                knowledge and professional skills of the candidates.
                These are developed or modied in consultation
                with the employer's specic expectations of the
                position, with substantive support from specialists
                in the eld.</p>
              <!-- <a href="service-details.html" class="stretched-link"></a> -->
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative" style="background-image: url('assets/images/medical 1.png');">
              
              <a >
                <h3>MEDICAL CHECK UP</h3>
              </a>
              <p>Only selected candidates are sent to an authorized
                hospital of clinic for a full medical examination. The
                candidates who are t medically and physically for
                employment are eligible to sign the employment
                contract.</p>
              <!-- <a href="service-details.html" class="stretched-link"></a> -->
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="250">
            <div class="service-item position-relative" style="background-image: url('assets/images/conference 1.png');">
              
              <!-- <a href="service-details.html" class="stretched-link"> -->
                <h3>ORIENTATION</h3>
              <!-- </a> -->
              <p>After receiving the employment visa and the job
                offer letter. All candidates are invited for a brief to
                make them aware of the employers requirements,
                the country's laws and orders, labor laws and
                Immigration policy. The orientation takes special
                care in brieng the selected candidates on how to
                maintain a cordial relationship between the
                employee and the employer and motivate them to
                their duties in a professional manner.</p>
              <!-- <a href="service-details.html" class="stretched-link"></a> -->
            </div>
          </div><!-- End Service Item -->

          <div class="container-fluid d-flex justify-content-center align-items-center">
            <div class="row w-100 d-flex justify-content-center">
                <div class="col-12" data-aos="fade-up" data-aos-delay="150">
                    <div class="service-item position-relative full-width-service" style="background-image: url('assets/images/airport 1.png');">
                        <a href="service-details.html" class="stretched-link">
                            <h3>DEPLOYMENT</h3>
                        </a>
                        <p>In all cases we send all the visa endorsement,
                            passport copies to the concerned airlines, to confirm
                            the travel schedule for the candidates. We also
                            confirm the candidate's location to the nearest
                            airport of the working country.
                            PTA may be sent to the Airline.
                        </p>
                        <!-- <a href="service-details.html" class="stretched-link"></a> -->
                    </div>
                </div><!-- End Service Item -->
            </div>
        </div>
        
        


        </div>

      </div>

    </section><!-- /Services Section -->

    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section">

      <img src="assets/img/cta-bg.jpg" alt="">

      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="60">
          <div class="col-xl-10">
            <div class="text-center">
              <h3>Get Started</h3>
              <p>Begin your journey with us today. Whether you're an employer seeking top talent or a jobseeker looking for the perfect opportunity, MPTC is here to help you every step of the way.</p>
              <a class="cta-btn" href="jobs">Get Started</a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Call To Action Section -->

    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Portfolio</h2>
        <p>Check out our Portfolio</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">Jobs</li>
            <li data-filter=".filter-product">Travel</li>
            <li data-filter=".filter-branding">Achievements</li>
          </ul><!-- End Portfolio Filters -->

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="assets/images/cleaning 2.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Cleaning Jobs</h4>
                <p>Corporate building cleaning</p>
                <a href="assets/images/cleaning 2.png" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <img src="assets/images/job 1.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Electrician</h4>
                <p>Wiring and Electricity</p>
                <a href="assets/images/job 1.png" title="Product 1" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
              <img src="assets/images/cleaning 3.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Cleaning Jobs</h4>
                <p>H2H Cleaner</p>
                <a href="assets/images/cleaning 3.png" title="Branding 1" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            

          </div><!-- End Portfolio Container -->
          <div class="more-link">
            <a href="portfolio.html" style="display: flex; align-items: center; text-decoration: none; color: inherit;">
              <span>More</span>
              <i class="bi bi-arrow-right" style="margin-left: 8px;"></i>
            </a>
          </div>
         

        </div>
     
       
      </div>

      </div>


    </section><!-- /Portfolio Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 align-items-center justify-content-between">

          <div class="col-lg-5">
            <img src="assets/images/nurse.png" alt="" class="img-fluid">
          </div>

          <div class="col-lg-6">

            <h3 class="fw-bold fs-2 mb-3">What we've done & What we do</h3>
            <p>
              Discover our impact with numbers that define our commitment to excellence, integrity, and client satisfaction.
            </p>

            <div class="row gy-4">

              <div class="col-lg-6">
                <div class="stats-item d-flex">
                  <i class="bi bi-emoji-smile flex-shrink-0"></i>
                  <div>
                    <span data-purecounter-start="0" data-purecounter-end="2000" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Happy Clients</strong> <span> that have traveled with us</span></p>
                  </div>
                </div>
              </div><!-- End Stats Item -->

              <div class="col-lg-6">
                <div class="stats-item d-flex">
                  <i class="bi bi-journal-richtext flex-shrink-0"></i>
                  <div>
                    <span data-purecounter-start="0" data-purecounter-end="81" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Companies</strong> <span>have reached to us seeking manpower</span></p>
                  </div>
                </div>
              </div><!-- End Stats Item -->

              <div class="col-lg-6">
                <div class="stats-item d-flex">
                  <i class="bi bi-headset flex-shrink-0"></i>
                  <div>
                    <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Hours Of Support</strong> <span>per day Locally and Internationally</span></p>
                  </div>
                </div>
              </div><!-- End Stats Item -->

              <div class="col-lg-6">
                <div class="stats-item d-flex">
                  <i class="bi bi-people flex-shrink-0"></i>
                  <div>
                    <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Certificates and Awards</strong> <span>to verify our achievements</span></p>
                  </div>
                </div>
              </div><!-- End Stats Item -->

            </div>

          </div>

        </div>

      </div>

    </section><!-- /Stats Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section">

      <img src="assets/images/logoinverse.png" class="testimonials-bg" alt="">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/images/iconlady 4.jpg" class="testimonial-img" alt="">
                <h3>Mi Mi</h3>
                <h4>Client</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Real ones let's grow together 💪.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/images/iconlady 4.jpg" class="testimonial-img" alt="">
                <h3>Ruth</h3>
                <h4>Client</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>This is the best company, a legitimate company, no lies. Be patient while working with them and follow the process, pay the commission nothing is for free, they find jobs for you and coordinate all the paperwork, visa and flight so pay the commission, be patient and trust the process. Maryann is my favorite in that office, she never commits on something she can't deliver. Thank you Maryann!</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/images/iconman 2.jpg" class="testimonial-img" alt="">
                <h3>Nelson</h3>
                <h4>Facebook</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>I really hope that this year I will travel with masterminds travel agency to work abroad🙏❤️❤️❤️
                    Congratulations masterminds so far many people say that you are the best recruiting agency.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/images/iconman 2.jpg" class="testimonial-img" alt="">
                <h3>Nick</h3>
                <h4>Client</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>The best agency. Happy mashujaa day Freddy, Maryanne,Lucy,Sharon and the entire masterminds crew</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/images/iconlady 4.jpg" class="testimonial-img" alt="">
                <h3>Ashim</h3>
                <h4>Facebook</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Mastermind is the best agency ever shine, ever green</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Testimonials Section -->

    <!-- Team Section -->
    <section id="team" class="team section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Team</h2>
        <p>Meet The Team</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="assets/images/philippsp.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Phil Mutiso</h4>
                <span>Director - Operations</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="assets/images/sharonpsp.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sharon Kuttah</h4>
                <span>Director - Communications & PR</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="assets/images/maryannpsp.jpg" class="img-fluid" alt="img src=''">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Maryann Emmah</h4>
                <span>Director - Finance</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="assets/images/lucypsp.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Lucy Kamau</h4>
                <span>Director - Administration</span>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Team Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Contact Us</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="60">

        <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d997.2076082667948!2d36.82193532851603!3d-1.2750397591463163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f112de2ab6ce3%3A0x9c698ddfe4e7a898!2sMasterminds%20Placement%20%26%20Travel%20Consultancy%20Ltd!5e0!3m2!1sen!2ske!4v1719385155580!5m2!1sen!2ske" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div><!-- End Google Maps -->

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p>Bhavesh Centre, Mezanine (M10)
                  Ngara Road</p>
                  <p>51431 - 00100, Nairobi - Kenya</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="150">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+254 700 416 335/ +254 782 094 135</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>info@masterminds.co.ke</p>
              </div>
            </div><!-- End Info Item -->

          </div>

          <div class="col-lg-8">
            <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="60">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6 footer-about">
            <a href="index.html" class="logo d-flex align-items-center">
              <span class="sitename">MASTERMINDS</span>
            </a>
            <div class="footer-contact pt-3">
              <p>Bhavesh Centre, Mezanine Floor (M10)
                Ngara Road</p>
              <p>51431 - 00100, Nairobi - Kenya</p>
              <p class="mt-3"><strong>Phone:</strong> <span>+254 700 416 335 <br>+254 782 094 135</span></p>
              <p><strong>Email:</strong> <span>info@masterminds.co.ke</span></p>
            </div>
            <div class="social-links d-flex mt-4">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
              <a href=""><i class="bi bi-tiktok"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="/"> Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="aboutus"> About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="services"> Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#"> Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#"> Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="jobs"> Recruitment</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#"> Visa Application</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#"> Travel Consultancy</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#"> HR Consultancy</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#"> Tours & Holiday</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-12 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Subscribe to our newsletter and receive the latest news about our jobs and services!</p>
            <form action="forms/newsletter.php" method="post" class="php-email-form">
              <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your subscription request has been sent. Thank you!</div>
            </form>
          </div>
          <div class="col-12 mt-3">
            <img src="assets/images/footer 1.jpg" alt="MPTC Logo" class="img-fluid footer-logo" style="max-width: 100%; height: auto; object-fit: contain;">
          </div>

        </div>
      </div>
      
    </div>
    

    <div class="copyright">
      <div class="container text-center">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">MASTERMINDS PTC LTD</strong> <span>All Rights Reserved</span></p>
        <div class="credits">
      
           <a href=""></a>
        </div>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

</body>

</html>