<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Home - Masterminds</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/images/favicon.png" rel="icon">
  <link href="assets/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
      

      <a href="/" class="logo d-flex align-items-center me-auto me-lg-0">
        
        <img src="assets/images/mptclogonobg.png" alt="">
        <!-- <h1 class="sitename"></h1>
        <p><br></p>
        <span> العقل المدبر كيا <b> MASTERMINDS</b> </span><br> -->
        
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/" class="active">Home<br></a></li>
          <li><a href="aboutus">About</a></li>
                 
          <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="jobs"> Recruitment</a></li>
              <!-- <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li> -->
              <li><a href="#">Visa Application</a></li>
              <li><a href="#">Travel Consultancy</a></li>
              <li><a href="#">HR Consultancy</a></li>
              <li><a href="#">Tours and holiday</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="jobs">Portfolio</a></li>
          <!-- <li><a href="#team">Team</a></li> -->
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="jobs">Get Started</a>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <img src="assets/images/hero-bg2.jpg" alt="" data-aos="fade-in">

      <div class="container">

        <div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
          <div class="col-xl-6 col-lg-8">
            <h2>MASTERMINDS</h2>
            <p>Connecting Skill With Opportunity Globally</p>
          </div>
        </div>

        <div class="row gy-4 mt-5 justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <i class="bi bi-zoom-in"></i>
              <h3><a href="">About</a></h3>
            </div>
          </div>
          <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box">
              <i class="bi bi-card-list"></i>
              <h3><a href="">Services</a></h3>
            </div>
          </div>
          <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <i class="bi bi-airplane-engines-fill"></i>
              <h3><a href="jobs">Jobs</a></h3>
            </div>
          </div>
       
          <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="700">
            <div class="icon-box">
              <i class="bi bi-phone"></i>
              <h3><a href="">Contact</a></h3>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section" style="border: 1px solid #00a5aa; padding: 10px;">

      <div class="container" data-aos="fade-up" data-aos-delay="100" >

        <div class="row gy-4" >
          <div class="col-lg-6 order-1 order-lg-2" style="border: 1px solid #00a5aa; padding: 10px;">
            <img src="assets/images/plane 1.jpg" class="img-fluid" alt="" style="height: 100%;">
          </div>
          <div class="col-lg-6 order-2 order-lg-1 content" style="border: 1px solid #00a5aa; padding: 10px;">
            <h3 style="font-size: 30px;">With The Best Not The Rest</h3>
            <p class="fst-italic" style="font-size: 15px;">
              At MPTC, we specialize in catering to the recruitment needs of various Private & Government organizations in the Middle East, Europe, Canada, US, and Australia and the needs of jobseekers. Our flexible approach ensures you receive the recruitment and HR services you need, tailored to your schedule and requirements.
            </p>
            <ul style="font-size: 15px;">
              <b><li><i class="bi bi-pin-fill"></i> <span>Comprehensive solutions for employers</span></li>
              <li><i class="bi bi-pin-fill"></i> <span>Adequate employment for jobseekers</span></li>
              <li><i class="bi bi-pin-fill"></i> <span>Excellent communications for both</span></li>
              <li><i class="bi bi-pin-fill"></i> <span>Good services and timely feedback</span></li></b>
            </ul>
            <p>
             
            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

     <!-- Features Section -->
     <section id="features" class="features section">

      <div class="container" >

        <div class="row gy-4" style="border: 4px solid #00a5aa; padding: 10px; background-image: url('assets/images/website pix_Page_4.jpg');">
          <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="50"><img src="assets/images/conference 1.png" alt="" ></div>
          <div class="col-lg-6" style="color: white;">

            <div class="features-item d-flex ps-0 ps-lg-3 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="100" >
              <i class="flex-shrink-0"><img src="assets/images/11.1.png" alt="Icon description" style="width:50px; height: 50px;">
              </i>
              <div>
                <h4>Integrity</h4>
                <p>We demonstrate complete integrity,
                  upholding honesty and strong moral
                  principles.</p>
              </div>
            </div><!-- End Features Item-->

            <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="150">
              <i class="flex-shrink-0"><img src="assets/images/12.png" alt="Icon description" style="width:50px; height: 50px;">
              </i>
              <div>
                <h4>Passion</h4>
                <p>We are passionate about recruitment,
                  showing enthusiasm, energy and an
                  understanding of our clients and
                  candidates need.</p>
              </div>
            </div><!-- End Features Item-->

            <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="200">
              <i class="flex-shrink-0"><img src="assets/images/13.png" alt="Icon description" style="width:50px; height: 50px;">
              </i>        

              <div>
                <h4>Exellence</h4>
                <p>We will always deliver what we
                  promise, while working to the
                  highest quality standard</p>
              </div>
            </div><!-- End Features Item-->

            <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="250">
              <i class="flex-shrink-0"><img src="assets/images/14.png" alt="Icon description" style="width:50px; height: 50px;">
              </i>
              <div>
                <h4>Respect</h4>
                <p>We treat our clients, candidates and
                  each other with mutual respect
                  and sensitivity, embracing individual
                  diversity.</p>
              </div>
            </div><!-- End Features Item-->

            <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="300">
              <i class="flex-shrink-0"><img src="assets/images/15.png" alt="Icon description" style="width:50px; height: 50px;">
              </i>
              <div>
                <h4>Accountability</h4>
                <p>We accept responsibility for our
                  actions. We use experience and good
                  judgement to support the business.</p>
              </div>
            </div><!-- End Features Item-->


          </div>
        </div>

      </div>

    </section><!-- /Features Section -->

    <!-- Clients Section -->
     <!-- Call To Action Section -->
     <section id="call-to-action" class="call-to-action section">
      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="60">
          <div class="col-xl-10">
            <h3>Our Affiliation</h3>
            <p></p>
          </div>
        </div>
      </div>
    </section><!-- /Call To Action Section -->
    <section id="clients" class="clients section" style="padding: 10px;">

      <div class="container" data-aos="fade-up" data-aos-delay="60">

        <div class="swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 2,
                  "spaceBetween": 40
                },
                "480": {
                  "slidesPerView": 3,
                  "spaceBetween": 60
                },
                "640": {
                  "slidesPerView": 4,
                  "spaceBetween": 80
                },
                "992": {
                  "slidesPerView": 6,
                  "spaceBetween": 120
                }
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="assets/images/partner 1.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 2.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 3.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 4.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 5.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 6.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 7.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 8.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 9.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 10.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 11.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 12.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 13.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 14.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 15.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 16.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 17.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 18.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 19.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 20.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 21.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 22.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 23.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 24.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 25.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 26.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 27.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 28.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 29.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="assets/images/partner 30.png" class="img-fluid" alt=""></div>
            
            
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Clients Section -->
    <section id="call-to-action" class="call-to-action section">

      <img src="assets/images/MPTC_Logos_REVERSE_2_extracted.jpg" alt="">

      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="60">
          <div class="col-xl-10">
            <img src="assets/images/logoinverse.png">
          </div>
        </div>
      </div>

    </section><!-- /Call To Action Section -->

   

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>Our Services</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="60">
            <div class="service-item position-relative" style="background-image: url('assets/images/recruitment 1.png');">
              <div class="icon">
                <i class="bi bi-cash-stack"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Recruitment</h3>
              </a>
              <p>We specialize in matching the right talent to the specific staffing needs of various Private & Government organizations across the Middle East, Europe, Canada, US, and Australia. Our expert consultants use industry knowledge and professional networks to ensure you find the perfect fit for your team.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative" style="background-image: url('assets/images/airport 1.png');">
              <div class="icon">
                <i class="bi bi-airplane-fill"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Travel Consultancy</h3>
              </a>
              <p>Whether for business, work or relocation, our travel consultancy services ensure a smooth journey. We handle all travel arrangements, from flights to accommodations, ensuring that your travel experience is comfortable, cost-effective, and well-coordinated.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative" style="background-image: url('assets/images/hrconsultancy 1.png');">
              <div class="icon">
                <i class="bi bi-person-workplace"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>HR Consultancy</h3>
              </a>
              <p>Our HR consultancy services help businesses optimize their human resources processes. From employee engagement to compliance and performance management, we provide tailored solutions that enhance your HR strategies and contribute to your overall business success.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="150">
            <div class="service-item position-relative" style="background-image: url('assets/images/city 1.png');">
              <div class="icon">
                <i class="bi bi-globe-europe-africa"></i>
                
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Tours and Holiday</h3>
              </a>
              <p>Our tours and holidays services offer curated travel experiences for leisure and relaxation. Whether you're seeking adventure, culture, or a peaceful getaway, we provide customized holiday packages that create lasting memories and enjoyable escapes.</p>
              <a href="service-details.html" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative" style="background-image: url('assets/images/visaapplication 2.jpg');">
              <div class="icon">
                <i class="bi bi-person-vcard-fill"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Visa Application</h3>
              </a>
              <p>Our visa services simplify the process of securing work visas, ensuring compliance with all necessary regulations for smooth international transitions.</p>
              <a href="service-details.html" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="250">
            <div class="service-item position-relative" style="background-image: url('assets/images/construction 1.png');">
              <div class="icon">
                <i class="bi bi-chat-square-text"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Job Advertisement</h3>
              </a>
              <p>Enhance your recruitment efforts with our comprehensive job advertisement services. We help you reach the right candidates by strategically placing your job openings across multiple platforms and media channels.</p>
              <a href="service-details.html" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section">

      <img src="assets/img/cta-bg.jpg" alt="">

      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="60">
          <div class="col-xl-10">
            <div class="text-center">
              <h3>Get Started</h3>
              <p>Begin your journey with us today. Whether you're an employer seeking top talent or a jobseeker looking for the perfect opportunity, MPTC is here to help you every step of the way.</p>
              <a class="cta-btn" href="jobs">Get Started</a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Call To Action Section -->

    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Portfolio</h2>
        <p>Check out our Portfolio</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">Jobs</li>
            <li data-filter=".filter-product">Travel</li>
            <li data-filter=".filter-branding">Achievements</li>
          </ul><!-- End Portfolio Filters -->

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="assets/images/cleaning 2.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Cleaning Jobs</h4>
                <p>Corporate building cleaning</p>
                <a href="assets/images/cleaning 2.png" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <img src="assets/images/job 1.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Electrician</h4>
                <p>Wiring and Electricity</p>
                <a href="assets/images/job 1.png" title="Product 1" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
              <img src="assets/images/cleaning 3.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Cleaning Jobs</h4>
                <p>H2H Cleaner</p>
                <a href="assets/images/cleaning 3.png" title="Branding 1" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            

          </div><!-- End Portfolio Container -->
          <div class="more-link">
            <a href="portfolio.html" style="display: flex; align-items: center; text-decoration: none; color: inherit;">
              <span>More</span>
              <i class="bi bi-arrow-right" style="margin-left: 8px;"></i>
            </a>
          </div>
         

        </div>
     
       
      </div>

      </div>


    </section><!-- /Portfolio Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 align-items-center justify-content-between">

          <div class="col-lg-5">
            <img src="assets/images/nurse.png" alt="" class="img-fluid">
          </div>

          <div class="col-lg-6">

            <h3 class="fw-bold fs-2 mb-3">What we've done & What we do</h3>
            <p>
              Discover our impact with numbers that define our commitment to excellence, integrity, and client satisfaction.
            </p>

            <div class="row gy-4">

              <div class="col-lg-6">
                <div class="stats-item d-flex">
                  <i class="bi bi-emoji-smile flex-shrink-0"></i>
                  <div>
                    <span data-purecounter-start="0" data-purecounter-end="5000" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Happy Clients</strong> <span> that have traveled with us</span></p>
                  </div>
                </div>
              </div><!-- End Stats Item -->

              <div class="col-lg-6">
                <div class="stats-item d-flex">
                  <i class="bi bi-journal-richtext flex-shrink-0"></i>
                  <div>
                    <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Companies</strong> <span>have reached to us seeking manpower</span></p>
                  </div>
                </div>
              </div><!-- End Stats Item -->

              <div class="col-lg-6">
                <div class="stats-item d-flex">
                  <i class="bi bi-headset flex-shrink-0"></i>
                  <div>
                    <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Hours Of Support</strong> <span>per day Locally and Internationally</span></p>
                  </div>
                </div>
              </div><!-- End Stats Item -->

              <div class="col-lg-6">
                <div class="stats-item d-flex">
                  <i class="bi bi-people flex-shrink-0"></i>
                  <div>
                    <span data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Certificates and Awards</strong> <span>to verify our achievements</span></p>
                  </div>
                </div>
              </div><!-- End Stats Item -->

            </div>

          </div>

        </div>

      </div>

    </section><!-- /Stats Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section">

      <img src="assets/images/logoinverse.png" class="testimonials-bg" alt="">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/images/iconlady 4.jpg" class="testimonial-img" alt="">
                <h3>Mi Mi</h3>
                <h4>Client</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Real ones let's grow together 💪.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/images/iconlady 4.jpg" class="testimonial-img" alt="">
                <h3>Ruth</h3>
                <h4>Client</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>This is the best company, a legitimate company, no lies. Be patient while working with them and follow the process, pay the commission nothing is for free, they find jobs for you and coordinate all the paperwork, visa and flight so pay the commission, be patient and trust the process. Maryann is my favorite in that office, she never commits on something she can't deliver. Thank you Maryann!</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/images/iconman 2.jpg" class="testimonial-img" alt="">
                <h3>Nelson</h3>
                <h4>Facebook</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>I really hope that this year I will travel with masterminds travel agency to work abroad🙏❤️❤️❤️
                    Congratulations masterminds so far many people say that you are the best recruiting agency.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/images/iconman 2.jpg" class="testimonial-img" alt="">
                <h3>Nick</h3>
                <h4>Client</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>The best agency. Happy mashujaa day Freddy, Maryanne,Lucy,Sharon and the entire masterminds crew</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/images/iconlady 4.jpg" class="testimonial-img" alt="">
                <h3>Ashim</h3>
                <h4>Facebook</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Mastermind is the best agency ever shine, ever green</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Testimonials Section -->

    <!-- Team Section -->
    <section id="team" class="team section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Team</h2>
        <p>Meet The Team</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="assets/images/philippsp.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Phil Mutiso</h4>
                <span>Director - Operations</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="assets/images/sharonpsp.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sharon Kuttah</h4>
                <span>Director - Communications & PR</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="assets/images/maryannpsp.jpg" class="img-fluid" alt="img src=''">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Maryann Emmah</h4>
                <span>Director - Finance</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="assets/images/lucypsp.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Lucy Kamau</h4>
                <span>Director - Administration</span>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Team Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Contact Us</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="60">

        <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d997.2076082667948!2d36.82193532851603!3d-1.2750397591463163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f112de2ab6ce3%3A0x9c698ddfe4e7a898!2sMasterminds%20Placement%20%26%20Travel%20Consultancy%20Ltd!5e0!3m2!1sen!2ske!4v1719385155580!5m2!1sen!2ske" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div><!-- End Google Maps -->

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="150">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p>Bhavesh Centre, Mezanine (M10)
                  Ngara Road</p>
                  <p>51431 - 00100, Nairobi - Kenya</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+254 700 416 335/ +254 782 094 135</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="250">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>info@masterminds.co.ke</p>
              </div>
            </div><!-- End Info Item -->

          </div>

          <div class="col-lg-8">
            <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6 footer-about">
            <a href="/" class="logo d-flex align-items-center">
              <span class="sitename">MASTERMINDS</span>
            </a>
            <div class="footer-contact pt-3">
              <p>Bhavesh Centre, Mezanine Floor (M10)
                Ngara Road</p>
              <p>51431 - 00100, Nairobi - Kenya</p>
              <p class="mt-3"><strong>Phone:</strong> <span>+254 700 416 335 <br>+254 782 094 135</span></p>
              <p><strong>Email:</strong> <span>info@masterminds.co.ke</span></p>
            </div>
            <div class="social-links d-flex mt-4">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
              <a href=""><i class="bi bi-tiktok"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="/"> Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="aboutus"> About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="services"> Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#"> Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#"> Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#"> Recruitment</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#"> Visa Application</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#"> Travel Consultancy</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#"> HR Consultancy</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#"> Tours & Holiday</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-12 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Subscribe to our newsletter and receive the latest news about our jobs and services!</p>
            <form action="forms/newsletter.php" method="post" class="php-email-form">
              <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your subscription request has been sent. Thank you!</div>
            </form>
          </div>
          <div class="col-12 mt-3">
            <img src="assets/images/footer 1.jpg" alt="MPTC Logo" class="img-fluid footer-logo" style="max-width: 100%; height: auto; object-fit: contain;">
          </div>

        </div>
      </div>
      
    </div>
    

    <div class="copyright">
      <div class="container text-center">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">MASTERMINDS PTC LTD</strong> <span>All Rights Reserved</span></p>
        <div class="credits">
      
           <a href=""></a>
        </div>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>